@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
        box-sizing: border-box;
}

 .navbar_header {
        width: 100%;
        position: fixed; /* deja la seccion estatica*/
        z-index: 15;
        top: 0; /* deja sin espacio superior */
        left: 0; /* deja sin espacio izquierda */
        right: 0; /* deja sin espacio derecha */
        }

.navbar_header .menuopc {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:baseline;
        background-color: rgb(0 0 0 / 50%); /* pone color */
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* pone borde */
      }

.navbar_header .menuopc a {
        text-decoration: none; /* quita color azul de los link */
        font-size: 15px; /* tamaño letra */
        letter-spacing: 3px; /* espacio entre letras */
        margin: 10px; /* margen de separacion */
      }
      
.navbar_header .menuopc a .navbar_logo {
        height: fit-content;
        width: fit-content;
      }

.navbar_header .navbar_container-links {
        font-family: brandon-grotesque; /* fuente letra */;
        color: #FFFFFF;/* color letra */
        height: fit-content;  
        display: flex;
        gap: 20px;      
      }
      
.navbar_header .navbar_container-links a {
        text-decoration: none;
        color: var(--color-black);
        font-family: brandon-grotesque;
        font-size: 18px;
      }

.redessoc{
        position: fixed;
        padding-left: 10px;
        right: 1.3vw;
}

.redesimg{
        width: max-content;
        height: max-content;
}

/* COMIENZA EL BODY*/
/* IMAGEN FONDO*/
.seccion1 {
        position: relative;
        display: flex;
}

.imagenfondo {
        height: 100%;
        width: 100%;
}

/* POSICIONES DE LAS BUSQUEDAS */
.busqueda1 {
        position: absolute;
        z-index: 1;
        right: 100px;
        top: 125px;
}

.busqueda2 {
        position: absolute;
        z-index: 1;
        left: 75px;
        top: 350px;
}

/* FORMATOS DE LAS BUSQUEDAS */
.busqueda11 {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        text-decoration: none;
        border-radius: 150px; /* borde obalado */
        border: 1px solid #FFF; /* pone borde */
        color: #FFF; /* color fuente */
        font-family: Brandon Grotesque; /* estilo fuente */
        font-size: 20px; /* tamaño fuente */
        font-style:normal;
        line-height: 45px;
        gap: 15px;
        padding: 5px 10px;
}

.busqueda21 {
        color: #FFF;
        font-family: cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 400px;
        line-height: 45px;
}

.busqueda3 {
        display: flex;
        width: 276px;
        height: 32px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px;
}

/* SECCION2 IMAGENES A LA DERECHA */

.seccion1imagenes .grid-contetn-img1 a {
        text-decoration: none;
}

.seccion1imagenes {
        margin-top: 50px;
        margin-bottom: 5%;       
        display: grid;
        grid-template-columns: 1fr 1fr;
}

.grid-contetn-img1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: auto;
        padding: 10% 10% 10% 0;
}

.grid-contetn-img2 {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-column: auto;
        padding: 5% 5% 5% 0;
}

/* imagenes tamaños */
.imagen1 {
        width: 100%;
        height: 75%;
        padding-right: 5%;
}

.imagen2 {
        width: 100%;
        height: 75%;
        padding-right: 5%;
}

.imagen3 {
        width: 100%;
        height: 75%;
}

.text1 {
        display: flex;
        height: 47px;
        flex-direction: column;
        justify-content: center;
        color: black;
        font-family: cursive;
        font-size: 30px;
        font-weight: 400;
        line-height: 45px;
        background-color: transparent;
        padding: 0 5% 0 5%;;
}

.text2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #DF991B;
        text-align: right;
        font-family: cursive;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 112.5% */
}

.text3{
        display: flex;
        flex-direction: column;
        color: #000;
        text-align: right;
        font-family: cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 56.25% */
}

.text4{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
}

.text41{
        display: flex;
        align-items: center;
}

.text5{
        color: #DF991B;
        font-family: cursive;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
}

.text6{
        color: #000;
        font-family: cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px;
}

.text7{
        color: #000;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px; /* 150% */
}

.izquierda{
        width: 18px;
        height: 30px;
        align-items: center;
        stroke-width: 2px;
        stroke: #B4B7B7;
}

.derecha{
        width: 18px;
        height: 30px;
        align-items: center;
        stroke-width: 2px;
        stroke: #B4B7B7;
}

.prev{
        display: block;
        align-items: center;
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px;
        cursor: pointer;
}

.view{
        display: flex;
        font-family: brandon-grotesque;
        font-style: normal;
        font-weight: 390;
        font-size: 24px;
        line-height: 45px;
        color: #000000;
        border: 1px solid #000000;
        border-radius: 100px;
        padding: 5px 30px;
        cursor: pointer;
}

.next{
        display: block;
        align-items: center;
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 20px;
        font-style: normal;
        font-weight: 390;
        line-height: 45px;
        cursor: pointer;
}

/* seccion de la galeria */
.galeria{
        display:grid;
        grid-template-rows: repeat(2, auto);
}

.galeriaimg {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
}

.galeriatxt {
        display: grid;
        grid-template-rows: auto auto;
        padding: 5% 0% 5% 0%;
        justify-content: center;
}

.galeriasep {
        width: 100%;
        padding: 5%;
}

.galeriahref {
        text-decoration: none;
}

.galerispan {
        justify-content: center;
        color: #000;
        font-family: cursive;
        font-size: 23px;
        font-size: 30px;
        line-height: 27px;
        padding: 1vw 0px 1vw 2vw;
}

.luxypro {
        width: 554px;
        height: 47px;
        flex-direction: column;
        justify-content: center;
        color: #DF991B;
        text-align: center;
        font-family: cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
}

.develop {
        display: flex;
        color: #000;
        text-align: center;
        font-family: cursive;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; 
}

/* seccion de contactanos */
.contacus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5% 0% 5% 0%;
}

.contacusimg {
        display: grid;
        grid-template-columns: 1fr 1fr;
}

.contacusimg1 {
        height: 550px;
        position: absolute;
}

.contacusimg2 {
        width: 600px;
        z-index: 1;
        padding-left: 150px;
        padding-top: 40px;
}

.contacustxt{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        width: 500px;
        height: 100px;
}

.services {
        color: #DF991B;
        font-family: cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
}

.art {
        color: #000;
        font-family: cursive;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 65px; /* 81.25% */
}

.ultimate {
        color: #000;
        font-family: Brandon Grotesque;
        font-size: 30px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px; /* 150% */
}

/* ultima seccion */

.seccionfinal {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 0;
        padding: 2vw 5vw 0 5vw;
}

.seccfin1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #26282B;
        column-gap: 15px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 2vw 5vw 0 5vw;
}

.seccfin11{
        display: grid;
        grid-template-rows: auto auto;
}

.seccfin12{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
}

.join{
        color: #DF991B;
        font-family: cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 112.5% */
}

.unlock {
        color: #FFF;
        font-family: cursive;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 65px; /* 108.333% */
}

.sepinput{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
}

.name{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin-bottom: 0;
        color: #fff;
        font-family: brandon-grotesque, sans-serif;
        padding-left: 5px;
        padding-right: 10px;
}

.impname{
        border-radius: 100px;
        border: 1px solid #7E7E7E;
        background-color: #26282B;
        height: 40px;
        width: 300px;
}

.view2{
        width: fit-content;
        color: #DF991B;
        padding: 5px 30px;
        border-radius: 100px;
        letter-spacing: 3px;
        border: 1px solid #DF991B;
        font-size: 16px;
        font-family: brandon-grotesque;
        text-transform: uppercase;
        justify-self: end;
        cursor: pointer;  
}

.seccfin2{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: #000;
}

.seccfin21 {
        display: grid;
        grid-template-rows: repeat(3, auto);
}

.become {
        color:#B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 25px;
        font-style: normal;
        font-weight: 330;
        line-height: 38px;
}

.casas {
        color: #B4B7B7;
        font-family: Brandon Grotesque;
        font-size: 25px;
        font-style: normal;
        font-weight: 330;
        line-height: 45px;
}

@media only screen and (min-with: 320px) and (max-with:480px) {

        .galeria {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .seccion1imagenes{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
        
        .grid-contetn-img1{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .grid-contetn-img2{
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        } 

        .text4{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        } 

        .galeria{
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        }

        .galeriaimg {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .galeriatxt {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        }

        .contacus {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .contacusimg {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .contacustxt {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        }

        .seccionfinal {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        }

        .seccfin1 {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .seccfin11 {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        }

        .seccfin12 {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        }

        .sepinput {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .seccfin2 {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        }

        .seccfin21 {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));

        }
}


@media only screen and (min-with: 481px) and (max-with:768px) {
        .galeria {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .seccion1imagenes{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }
        
        .grid-contetn-img1{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .grid-contetn-img2{
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        } 

        .text4{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        } 

        .galeria{
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        }

        .galeriaimg {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .galeriatxt {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        }

        .contacus {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .contacusimg {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .contacustxt {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        }

        .seccionfinal {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        }

        .seccfin1 {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .seccfin11 {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        }

        .seccfin12 {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));
        }

        .sepinput {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
        }

        .seccfin2 {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));

        }

        .seccfin21 {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(481px, 1fr));

        }  
}

    